

* {
   font-family: Arial;
}

form {
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
}

/*h1 title element*/

header h1 {
    font-family: Arial;
    text-transform: uppercase;
    color: white;
}

/*headings*/

h1, h2, h3 {
    text-align: center;
    color: white;
    text-transform: uppercase;
}

/*navigation bar*/

.navmenu ul {
list-style-type: none;
background-color: #072460;
padding: 0px;
margin: 0px;
overflow: hidden;
border: 3px solid white;
border-radius: 10px;
}

.navmenu li {
    float: left;
}

.navmenu {
    border-color: white;
}

.navmenu a:hover {
    background-color: #093180;
    transition: 200ms;
}

a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

/*Body*/

body { 
    background: linear-gradient(black,#0d0628,#072460,#1e519d, #0d0628, black);
}

p {
    color: white;
    text-align: center;
}

/*Form*/

#reportForm {
    background-color: #f1f1f1;
    border: 4px solid black;
    border-radius: 20px;
    outline: 5px solid rgb(85, 146, 202);

    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 12px 20px;

    max-width: 500px;
    margin: 40px auto;
}

form label {
    color: black;
} 

.dropdown {
    margin: 5px;
    color: black;

    padding: 16px 20px;
    border-radius: 4px;
    background-color: white;

}

textarea {
    max-width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 8px;
}

textarea, form input {
    color: #000000;
    border: 0.5px solid black;
    border-radius: 8px;
    padding: 16px 20px;

    max-width: 100%;
}

/*consent check box*/

.infoconsent {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    flex-wrap: wrap;
}

.infoconsent label {
    font-size: smaller;
}

.hidden {
    display: none;
}

/* submit button*/

form button  {
        margin: 16px;
        background-color: white;
        color: black;
        border-radius: 5px;
        border-color: black;
        cursor: pointer;
        font-size: 16px;

        justify-self: center;

}

button:hover {background-color: #b3d1ff}

/*Creature Information*/

#poltergeist, #banshee, #spirit, #equine, #fairy, #feline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

@media (min-width: 800px) {
    #poltergeist, #fairy, #spirit {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #equine, #banshee, #feline {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
}

dl {
   margin: 30px;
   padding: 20px;
   background-color: white;

   height: 350px;
   max-width: 250px;
   max-height: 350px;

   box-shadow: 0 5px 10px black;
}



dl dt {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.polaroid {
    box-shadow: 0 5px 10px black;
    transition: transform 300ms;
}

.polaroid:hover {
    transform: scale(1.1);
}

/* responsive form scaling*/

@media (min-width: 600px) {
    section form {
        max-width: 600px;
    }
}